{extend name="public/base" /}

{block name="header"}{/block}
{block name="menu"}{/block}

{block name="content"}
<div class="pd-20" style="text-align: center">
  <form action="" method="post" class="form form-horizontal" id="form-user-add">
    <div class="row cl">
      <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>姓名：</label>
      <div class="col-xs-8 col-sm-5">
        <input type="hidden" name="id" value="{$data.id}">
        <input type="text" class="input-text" value="{$data.title}" placeholder="分类名称" name="title">
        <input class="btn btn-primary radius mt-10" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
      </div>
    </div>
  </form>
</div>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本-->

<script>
    $("form").submit(function (e) {
        e.preventDefault(e);
        $.ajax({
            type:"POST",
            url:"{:url('category/categoryEdit')}",
            data:$("form").serialize(),
            dataType:"json",
            success:function (data) {
                if(data.status == 1){
                    layer.msg(data.message,{"icon":1,"time":2000});
                    setTimeout(parent.location.reload(),2000);
                }else{
                    layer.msg(data.message,{"icon":5,"time":2000});
                }
            }
        })
    });
</script>
{/block}}